.chat-side 
  = render partial: "chat-side_header"
  = render partial: "chat-side_group"


.chat-main 
  = render partial: "chat-main_header"
  = render partial: "chat-main_message"
  = render partial: "chat-main_form"